@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: hsl(225, 100%, 94%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: hsl(224, 23%, 55%);
}

.bg-image {
  background: url('./images/pattern-background-mobile.svg') no-repeat
    center/cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.content {
  padding: 30px;
}

.card {
  background-color: #ffffff;
  margin: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 20px 20px hsl(228, 45%, 44%, 0.15);
}

.card .title {
  color: hsl(223, 47%, 23%);
  margin: 15px 0;
  font-weight: 900;
}

.description {
  padding: 0 30px;
}

.hero {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.pricing {
  margin: 20px auto;
  padding: 10px;
  background-color: hsl(225, 100%, 98%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 14px;
}

.plan-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .pricing .plan-box img {
  margin-right: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  font-family: inherit;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-change {
  background-color: transparent;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
}

.btn-proceed {
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 30px 30px hsl(228, 45%, 44%, 0.15);
}

.btn-change:hover,
.btn-proceed:hover {
  opacity: 0.8;
  text-decoration: none;
}

.btn-cancel {
  background-color: transparent;
  color: hsl(224, 23%, 55%);
}

.btn-cancel:hover {
  color: hsl(223, 47%, 23%);
}

@media (min-width: 450px) {
  .bg-image {
    background: url('./images/pattern-background-desktop.svg') no-repeat
      center/cover;
  }

  .card {
    width: 400px;
  }

  .card .pricing {
    padding: 20px;
  }
}
